* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

#nav2 {
    background-color: #fff;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

#logo img {
    width: 230px;
}

#menubar ul {
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}

#menubar li a {
    color: #333;
    font-weight: 600;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

#menubar li a:hover {
    color: #A7518B;
    transform: translateY(-3px);
}

#menubar button {
    background-color: #A7518B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #A7518B;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#menubar button:hover {
    background-color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    color: #A7518B;
    border: 2px solid #A7518B;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

#menubar ul, #menubar button {
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    #nav2 {
        flex-direction: column;
        padding: 10px 20px;
    }

    #menubar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        background-color: #fff;
    }

    #menubar.active ul {
        display: flex;
    }

    .menu-toggle {
        display: block;
        color: #6a0dad;
    }
}


@media (max-width: 1024px) {
    #menubar ul {
        gap: 15px;
    }
}

@media (min-width: 1025px) {
    #menubar ul {
        gap: 30px;
    }
}

.contact-us {
    margin-top: 80px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 12px;
}

.contact-form {
    background-color: #f8f9fc;
    padding: 20px;
    border-radius: 8px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4a4a4a;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #6a1b9a;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 27, 154, 0.5);
}

.submit-btn {
    background-color: #6a1b9a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #531074;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #9C76A2;
    padding: 15px;
    border-radius: 5px;
}

.info-item {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.info-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.info-item i {
    font-size: 24px;
    color: #6a1b9a;
    margin-bottom: 10px;
}

.info-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.info-item p {
    font-size: 14px;
    color: #777;
}

@media (max-width: 1024px) {
    .contact-us {
        margin-top: 120px;
    }
    .container {
        grid-template-columns: 1fr;
        width: 90%;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .contact-us {
        margin-top: 120px;
    }
    .container {
        width: 95%;
        padding: 20px;
    }

    .contact-form h2 {
        font-size: 22px;
    }

    .form-group label {
        font-size: 15px;
    }

    .form-group input, .form-group textarea {
        font-size: 13px;
    }

    .info-item h3 {
        font-size: 16px;
    }

    .info-item p {
        font-size: 13px;
    }

    .info-item i {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        grid-template-columns: 1fr;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .form-group input, .form-group textarea {
        font-size: 12px;
    }

    .submit-btn {
        padding: 10px 16px;
    }

    .info-item h3 {
        font-size: 15px;
    }

    .info-item p {
        font-size: 12px;
    }

    .info-item i {
        font-size: 20px;
    }
}


.footer {
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    width: 376px;
    flex-direction: row;
}

.footer-links .company {
    margin-left: 70px;
}

.footer-contact, .footer-links, .footer-about {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-contact div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-contact i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.footer-links h4, .footer-about h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #e0e0e0;
}

.footer-links ul, .company ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .company ul li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #b3b3b3;
    transition: color 0.3s ease;
}

.footer-links ul li:hover, .company ul li:hover {
    color: #ffffff;
}

.footer-about p {
    color: #b3b3b3;
    line-height: 1.5;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-size: 0.9rem;
}

.footer-bottom p {
    margin: 0;
    color: #b3b3b3;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-contact, .footer-links, .footer-about {
        flex-basis: 100%;
    }

    .footer-contact p {
        width: 250px;
        text-align: left;
    }
}
